<div class="container">
  <h1><%= @list.name %></h1>
  <% @list.bookmarks.each do |bookmark| %>
  <p> <%= bookmark.movie.title %>
  <%= link_to bookmark_path(bookmark),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
  </p>
  <p> <%= bookmark.movie.overview %>
  </p>
  <img src="<%= bookmark.movie.poster_url%>">
  <p> <%= bookmark.movie.rating %>
  </p>
  <p> <%= bookmark.comment %>
  </p>
  <% end %>
 <%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
</div>
